@use '../util/' as util;

.form-container {
    width: 100%;
    max-width: util.rem(360);
    font-size: calc(13rem / 16);
    margin-bottom: util.rem(40);

    label {
        text-transform: uppercase;
        letter-spacing: util.rem(1);
    }

    input {
        width: 100%;
        height: util.rem(40);
        border-radius: util.rem(10);
        border: util.rem(1) solid var(--light-gray);
        padding: 0 util.rem(15);
        margin-top: util.rem(10);

        &::placeholder {
            color: var(--light-gray);
        }

        &:invalid {
            outline-color: var(--error);
        }
    }

    span {
        display: block;
        margin-left: util.rem(10);
        margin-bottom: util.rem(15);
        color: var(--error);
        min-height: calc(17rem / 16);

    }

    .__card-details {
        width: 100%;
        display: flex;
        ;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .__card-input {
            width: 95%;

            p {
                align-self: flex-end;
                padding: util.rem(0);
                margin: util.rem(0);
            }

            .__mmyy {
                display: flex;

                input {
                    width: 95%;
                }
            }
        }

        .__card-input-2 {
            width: 95%;
        }
    }

    button {
        width: 100%;
    }

    .__confirmation {
        margin-inline: util.rem(40);
        text-align: center;

        img {
            height: util.rem(80);
            width: util.rem(80);
        }

        & h1 {
            text-transform: uppercase;
            letter-spacing: calc(2rem / 16);
            font-size: util.rem(28);
        }

        & h2 {
            color: var(--purplishGray);
            font-size: util.rem(18);
            font-weight: normal;
        }

        button {
            margin-top: util.rem(10);
            width: 100%;
        }
    }
}


@include util.breakpoint(large) {
    .form-container {
        max-width: util.rem(381);
        margin-left: util.rem(120)
    }
}