@use '../util/' as util;

.app {
    display: grid;
    grid-template-rows: auto auto;
    margin-inline: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;


    @include util.breakpoint(large) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    &__main,
    &__form {
        display: flex;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    &__main {}

    &__form {
        @include util.breakpoint(medium) {}

        @include util.breakpoint-down(medium) {}
    }

}