@use '../util/' as util;

.app {
    display: grid;
    grid-template-rows: auto auto;
    margin-inline: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;


    @include util.breakpoint(large) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;


    }

    &__main,
    &__form {
        display: flex;
        text-align: center;
        margin: 0 auto;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__main {

        @include util.breakpoint(medium) {
            background-color: hsl(120, 48%, 81%);

        }

        @include util.breakpoint-down(medium) {
            background-color: hsl(81, 79%, 59%);
            height: 50vh;
        }


    }

    &__form {
        @include util.breakpoint(medium) {
            background-color: hsl(253, 43%, 81%);
        }

        @include util.breakpoint-down(medium) {
            background-color: hsl(205, 68%, 72%);
            height: 50vh;
        }
    }

}