:root {
    --bg-color: hsl(0, 0%, 11%);
    --purplishGray: hsl(279, 6%, 55%);
    --light-gray: hsl(270, 3%, 87%);
    --error: hsl(0, 100%, 66%);
    --button: hsl(278, 68%, 11%);
    --white: hsl(0, 0%, 100%);
}